@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}

.ant-drawer-body {
  background-color: #33363c;
}
.ant-drawer-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse !important;
}
.ant-drawer-header {
  width: 100%;

  padding: 1rem !important;
}
.ant-drawer-title img {
  width: 130px;
}
.ant-drawer-close {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  color: #fff;
  margin-inline-end: 0 !important;
  background-color: #33363c !important;
}
.ant-drawer-close svg {
  fill: #fff;
}
.ant-drawer-body ul {
  list-style: none;
  font-size: 1.3rem;
}
.ant-drawer-body ul li {
  color: #fff;
  border-bottom: 1px solid;
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
}
.ant-drawer-body ul button {
  color: #fff;
  letter-spacing: 0.02em;
  cursor: pointer;
  background-color: #0999fc;
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.2s;
  display: flex;
  gap: 0.4rem;
  outline: none;
  border: none;
  margin-top: 2rem;
  padding: 0.8rem 1.2rem;
}
